<div class="container">
  <h2>{{title}}</h2>
  <form *ngIf="lieu" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <mat-form-field class="mat-form-field-group simple">
      <mat-label>Nom</mat-label>
      <input matInput required [(ngModel)]="lieu.name" name="name">
    </mat-form-field>
    <div class="mat-form-field-group">
      <mat-form-field class="triple">
        <mat-label>Ville</mat-label>
        <input matInput
               name="nomVille"
               ngModel
               (ngModelChange)="onChangeNomVille($event)"
               [value]="lieu.situationGeographique.nomVille"
               [matAutocomplete]="autoCompleteNomVille"
        >
        <mat-autocomplete #autoCompleteNomVille="matAutocomplete"
                          (optionSelected)="onSelectedNomVille($event)"
                          [displayWith]="displayNomVille">
          <mat-option *ngFor="let option of filteredNomVille" [value]="option">
            {{displayAutoCompleteNomVille(option)}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="triple middle">
        <mat-label>Code postal</mat-label>
        <input matInput
               name="codePostal"
               ngModel
               (ngModelChange)="onSelectedCodePostal($event)"
               [value]="lieu.situationGeographique.codePostal"
               [matAutocomplete]="autoCompleteCodePostal">
        <mat-autocomplete #autoCompleteCodePostal="matAutocomplete" (optionSelected)="onSelectedCodePostal($event)">
          <mat-option *ngFor="let option of filteredCodePostal" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="departement">
        <mat-label>Departement</mat-label>
        <input matInput
               ngModel
               [value]="lieu.situationGeographique.departement"
               (ngModelChange)="onChangeDepartement($event)"
               name="departement"
               [matAutocomplete]="autoCompleteDepartement">
        <mat-autocomplete #autoCompleteDepartement="matAutocomplete">
          <mat-option *ngFor="let option of filteredDepartement" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <a class="aSyncro"
         #tooltip="matTooltip"
         matTooltip="Syncronisation avec la map : {{isSyncroMap?'Oui':'Non'}}"
         [matTooltipPosition]="'above'"
         matTooltipHideDelay="10"
      >
        <fa-icon class="syncro right" [icon]="faExchangeAlt" [size]="'lg'" [class]="isSyncroMap?'syncroActive':''"
                 (click)="clickSyncroMap()"></fa-icon>
      </a>
    </div>
    <div class="mat-form-field-group simple map" #map></div>
    <mat-form-field appearance="fill" class="mat-form-field-group simple">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="typeLieuId" name="typeLieu">
        <mat-option *ngFor="let type of typesLieu" [value]="type.id">
          {{type.libelle | typeLieuLibelle}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container class="mat-form-field-group">
      <mat-form-field class="double">
        <mat-label>Taille en ha</mat-label>
        <input matInput type="number" [(ngModel)]="lieu.taille" name="taille">
      </mat-form-field>
      <mat-form-field class="double right">
        <mat-label>Nombre de postes</mat-label>
        <input matInput type="number" [(ngModel)]="lieu.nombrePoste" name="postes">
      </mat-form-field>
    </ng-container>
    <ng-container>
      <div class="double checkbox-content">
        <p>Type de session</p>
        <div class="checkbox-prix">
          <mat-checkbox [(ngModel)]="lieu.session" name="session">Session</mat-checkbox>
        </div>
        <mat-form-field *ngIf="lieu.session" class="prix">
          <mat-label>Prix/24h en €</mat-label>
          <input matInput type="number" [(ngModel)]="lieu.prix24" name="prix24">
        </mat-form-field>
        <br>
        <div class="checkbox-prix">
          <mat-checkbox [(ngModel)]="lieu.journee" name="journee">Journée</mat-checkbox>
        </div>
        <mat-form-field *ngIf="lieu.journee" class="prix">
          <mat-label>Prix en €</mat-label>
          <input matInput type="number" [(ngModel)]="lieu.prixJournee" name="prixJournee">
        </mat-form-field>
      </div>
      <div class="double right checkbox-content">
        <p>Navigation autorisé</p>
        <br>
        <mat-checkbox [(ngModel)]="lieu.bateauAmorceur" name="bateauAmorceur">Bateau amorceur</mat-checkbox>
        <br>
        <mat-checkbox [(ngModel)]="lieu.navigation" name="navigation">Navigation</mat-checkbox>
      </div>
    </ng-container>
    <mat-form-field class="mat-form-field-group simple">
      <mat-label>Site internet</mat-label>
      <input matInput [(ngModel)]="lieu.siteInternet" name="siteInternet">
    </mat-form-field>

    <mat-form-field class="mat-form-field-group simple">
      <mat-label>Commentaire</mat-label>
      <input matInput [(ngModel)]="lieu.commentaire" name="commentaire">
    </mat-form-field>

    <div class="mat-form-field-group group-valider row">
      <button mat-button color="accent" class="col" type="submit" [disabled]="!f.valid">Valider</button>
      <button mat-button [routerLink]="['/lieu']" class="col">Retour</button>
    </div>
  </form>
</div>
