table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #e0e0e0;
}

tr.element-row:not(.expanded-row):active {
  background: darkgrey;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
}

fa-icon {
  margin: auto;
}

.list-icon {
  margin-right: 1rem;
}

a {
  color: black;
}

a:hover {
  color: darkgrey;
  background-color: transparent;
  text-decoration: underline;
}

.fa-icon-plus {
  margin: auto;
}

.container-align-center {
  align-self: center;
}

.container-align-center a {
  height: 4rem;
  width: 8rem;
  text-align: center;
  line-height: 4rem;
}

.container-prix {
  display: inline-flex;
}

.element-prix {
  margin-left: 2px;
  margin-top: 2px;
}



