<p>
  <mat-toolbar>
    <button mat-icon-button aria-label="Menu button" *ngIf="isLogged()" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['accueil']">Accueil</button>
      <button mat-menu-item [routerLink]="['lieu']">Liste des lieux</button>
    </mat-menu>
    <span>AppCarpe</span>
    <span class="spacer"></span>
    <ng-container *ngIf="!isLogged() else notLogged">
      <button mat-stroked-button color="primary" [routerLink]="'login'">Login</button>
      <button mat-stroked-button color="accent" [routerLink]="'register'" class="second-button">S'enregistrer</button>
    </ng-container>
    <ng-template #notLogged>
      <button mat-stroked-button color="primary" [routerLink]="'user'">{{getFirstnameLogged()}}</button>
      <button mat-stroked-button color="accent" [routerLink]="'login'" (click)="loggout()" class="second-button">Se déconnecter</button>
    </ng-template>
  </mat-toolbar>
</p>
