h1 {
  font-size: 5rem;
  margin-top: 5rem;
  height: 4rem;
}

.center {
  text-align: center;
}

p {
  margin-top: 10rem;
  font-size: large;
}

button {
  margin-left: 40%;
  margin-right: 40%;
  margin-top:2rem;
}
